<div class="container-fluid">
    <div class="row">
    <div class="col-xs-12">
        <h1>Catalog</h1>
        <input type="checkbox" data-bind="icheck:showSearchBar"/> Show Search options
        <hr/>
        <div class="input-group" data-bind="visible:showSearchBar">
            <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i> Search</span>
            <input type="text" class="form-control" data-bind="value:searchTerm, valueUpdate: 'keyup', executeOnEnter:filterCatalog" placeholder="Press enter to search...">
        </div>
        <div class="row cart-detail">
            <div class="col-lg-2 col-md-4 col-sm-4 col-xs-4">
                <strong>
                    <i class="glyphicon glyphicon-shopping-cart"></i> Items in the cart:</strong>
                <span data-bind="text:CartService.cart().length"></span>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 col-xs-4">
                <strong>
                    <i class="glyphicon glyphicon-usd"></i> Total Amount:
                </strong>
                <span data-bind="text:CartService.grandTotal"></span>
            </div>
            <div class="col-lg-8 col-md-4  col-sm-4 col-xs-4 text-right">
                <button data-bind="click:refresh" class="btn btn-primary btn-lg"><i class="glyphicon glyphicon-refresh"></i> Refresh</button>
                <a href="#/cart" class="btn btn-primary btn-lg"><i class="glyphicon glyphicon-shopping-cart"></i> Go To Cart</a>
            </div>
        </div>
        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Stock</th>
                <th></th>
            </tr>
            </thead>
            <tbody data-bind="{foreach:filteredCatalog}">
            <tr data-bind="style:{color:stock() < 5?'red':'black'}">
                <td data-bind="text:name"></td>
                <td data-bind="{currency:price}"></td>
                <td data-bind="{text:stock}"></td>
                <td>
                    <button class="btn btn-primary" data-bind="click:$parent.add">
                        <i class="glyphicon glyphicon-shopping-cart"></i>
                    </button>
                    <button class="btn btn-info" data-bind="{click:$parent.edit}">
                        <i class="glyphicon glyphicon-pencil"></i>
                    </button>
                    <button class="btn btn-danger" data-bind="{click:$parent.remove}">
                        <i class="glyphicon glyphicon-remove"></i>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</div>